body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url('C:\Users\Asim Salman\Desktop\prasanna\todolist\src\tod.jpg');
}

code {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
